#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper.carrousel-swiper {
  width: 69%;
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}

/* .swiper-wrapper {
  justify-content: center;
} */

.carrousel-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 100px;
}

.carrousel-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and(min-width: 768px) {
  .carrousel-swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 150px;
  }
}
